SimpleFactory/bin/
SimpleFactory/obj/
*.scgdat
SimpleFactoryTests/bin/
SimpleFactoryTests/obj/
packages/
StrategyPattern/bin/
StrategyPattern/obj/
StrategyPatternTests/bin/
StrategyPatternTests/obj/
.vs/DesignPatterns/v14/.suo
/DecoratorPattern/bin/Debug
/DecoratorPattern/obj/Debug
DecoratorPattern/bin/
DecoratorPattern/obj/
ProxyPattern/bin/
ProxyPattern/obj/
LeiFengFactoryPattern/bin/
LeiFengFactoryPattern/obj/
PrototypePattern/bin/
PrototypePattern/obj/
TemplatePattern/bin/
TemplatePattern/obj/
FacadePattern/bin/
FacadePattern/obj/
BuilderPattern/bin/
BuilderPattern/obj/
*.Cache
ObserverPattern/bin/
ObserverPattern/obj/
ObserverPatternByEventHandler/bin/
ObserverPatternByEventHandler/obj/
AbstractPattern/bin/
AbstractPattern/obj/
AbstractPatternWithReflection/bin/
AbstractPatternWithReflection/obj/
*/bin/
*/obj/