SimpleFactory/bin/
SimpleFactory/obj/
*.scgdat
SimpleFactoryTests/bin/
SimpleFactoryTests/obj/
packages/
StrategyPattern/bin/
StrategyPattern/obj/
StrategyPatternTests/bin/
StrategyPatternTests/obj/
.vs/DesignPatterns/v14/.suo
/DecoratorPattern/bin/Debug
/DecoratorPattern/obj/Debug
